a,
button {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}

a:active,
button:active {
    background-color: transparent;
}

button:focus,
a:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}